<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>

    <Console name="TransactionConsole" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS},%msg%n"/>
    </Console>
    <Console name="TransactionConsole" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS},%msg%n"/>
    </Console>
    
    
<RollingFile name="DaylyLogFile">
  <FileName>logging/log.log</FileName>
  <FilePattern>logging/%d{yyyy-MM-dd}.log.zip</FilePattern>
  <PatternLayout>
    <Pattern>%d{yyyy-MM-dd HH:mm:ss a} %-5level %logger{36} - %msg%n</Pattern>
  </PatternLayout>
  <Policies>
    <TimeBasedTriggeringPolicy interval="1" modulate="true" />
  </Policies>
  <DefaultRolloverStrategy max="5" />
</RollingFile>

<RollingFile name="DaylyTransactionLogFile">
  <FileName>logging/Transactions.log</FileName>
  <FilePattern>logging/Transactions_%d{yyyy-MM-dd}.log.zip</FilePattern>
  <PatternLayout>
    <Pattern>%d{yyyy-MM-dd HH:mm:ss} %msg%n</Pattern>
  </PatternLayout>
  <Policies>
    <TimeBasedTriggeringPolicy interval="1" modulate="true" />
  </Policies>
  <DefaultRolloverStrategy max="5" />
</RollingFile>

  </Appenders>
  <Loggers>
    <Root level="trace">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="DaylyLogFile"/>
      
    </Root>
    <Logger name="TRANSACTION" level="trace" additivity="false">
      <AppenderRef ref="TransactionConsole"/>
      <AppenderRef ref="DaylyTransactionLogFile"/>
    </Logger>
  </Loggers>
</Configuration>